.header {
    font-weight: bold;
}
.highlited {
    background-color: #ffebeb;
}

.alert {
    color: red;
}

.table {
    width: 100vw;
}

.form-group {
    display: flex;
    align-items: center;
}

.clear-filter-icon {
    position: relative;
    cursor: pointer;
    z-index: 1;
    top: -10px;
    left: -50px;
    color: red;
}