<mat-card>
    <h1>Dodaj wpis</h1>
    <mat-radio-group
            aria-labelledby="radio-group-label"
            class="example-radio-group"
            [(ngModel)]="isOurMaterial"
        >
        <mat-radio-button class="example-radio-button" [value]="true">Cut-Story</mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]="false">Powierzony</mat-radio-button>
    </mat-radio-group>
    <form [formGroup]="entryForm" class="form" (ngSubmit)="onSubmit()">
        
        <mat-form-field>
        <mat-label>Rodzaj materiału</mat-label>
        <mat-select [(value)]="isSheet">
            <mat-option [value]=true>Blachy</mat-option>
            <mat-option [value]=false>Kształtowniki</mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.get('docType')?.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Rodzaj dokumentu</mat-label>
        <mat-select formControlName="docType">
            <mat-option value="PZ">PZ</mat-option>
            <mat-option value="REZ">REZ</mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.get('docType')?.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>
        
        <mat-form-field *ngIf="!isOurMaterial">
            <mat-label>Kogo materiał</mat-label>
            <input matInput formControlName="materialOwner" placeholder="Uwagi">    
        </mat-form-field>

        <mat-form-field>
        <mat-label>Uwagi</mat-label>
        <input matInput formControlName="externalDocument" placeholder="Uwagi">
        </mat-form-field>
    
        <mat-form-field *ngIf="!!isSheet">
        <mat-label>Grubość arkusza blachy</mat-label>
        <input matInput formControlName="thickness" placeholder="Grubość">
        <span *ngIf="entryForm.get('thickness')?.value" matPrefix class="prefix">#</span>
        <mat-error *ngIf="entryForm.get('thickness')?.hasError('required')">To pole jest wymagane</mat-error>
        <mat-error *ngIf="entryForm.get('thickness')?.hasError('pattern')">Grubość powinna być większa od 0 i być liczbą całkowitą</mat-error>
        </mat-form-field>
        
        <mat-form-field>
        <mat-label>{{ isSheet == true ? 'Ilość arkuszy blachy' : 'Ilość kształtownika' }}</mat-label>
        <input matInput formControlName="quantity" placeholder="Ilość">
        <mat-error *ngIf="entryForm.get('quantity')?.hasError('required')">To pole jest wymagane</mat-error>
        <mat-error *ngIf="entryForm.get('quantity')?.hasError('pattern')">Ilość powinna być większa od 0 i być liczbą całkowitą</mat-error>
        </mat-form-field>

        <mat-form-field>
        <mat-label>{{ isSheet == true ? 'Rozmiar arkuszy blachy' : 'Rozmiar kształtownika' }}</mat-label>
        <input matInput formControlName="size" placeholder="Rozmiar">
        <mat-error *ngIf="entryForm.get('size')?.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>
        
        <mat-form-field>
        <mat-label>{{ isSheet == true ? 'Rodzaj arkusza blachy' : 'Rodzaj kształtownika' }}</mat-label>
        <mat-select formControlName="type">
            @for (type of sheetTypes; track type){
                <mat-option value="{{type}}">{{ type }}</mat-option>
            }
        </mat-select>
        <mat-error *ngIf="entryForm.get('type')?.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="secondary" type="submit" [disabled]="entryForm.invalid">Dodaj</button>
    </form>
</mat-card>