.form {
    display:flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
}

.radio-group-label {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.prefix {
    display: block;
    margin-left: 5px;
    margin-top: 4px;
}

.mdc-card {
    margin: 20px auto 0px;
    padding: 15px;
    width: 340px;
}